.base {
  width: 100%;
  height: auto;
}
.tagHolder {
  width: 100%;
}
.tag {
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  margin-right: 10px;
  background: #ccc;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
  margin-top: 10px;
}
